:root{
    --primary-font:  "Roboto", serif;
    --secondary-font:"Quicksand", serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header style */
h1{
    display: flex;
    flex-direction: column;
    border-top: 1em solid #860106;
    border-bottom: 1em solid #242424;
    padding: 0.2em;
    align-items: center;
    color: #860106;
    background-color: #e2e1e1;
    font-family: var(--primary-font);
}

h1 img{
    width: 1.5em;
}

/* Main style */
main{
    position: relative;
    font-family: var(--secondary-font);
    background-color: #242424;
}

main picture img{
    width: 100%;
    height: auto;
}

main section:nth-last-of-type(1){
    background-color: #86010593;
    position: absolute;
    right: 3%;
    top: 60%;
    padding: 2em;
    padding-top: 5em;
    color: white;
}


main section:nth-last-of-type(1) span{
    color: #F7CF00;
}

main section:nth-last-of-type(2){
    background-color: #860105ad;
    position: absolute; 
    left: 3%;
    top: 10%;
    padding: 2em;
    padding-top: 5em;
    color: white;
}

main section:nth-last-of-type(2) p{
    padding: 0.5em;
}

main section:nth-last-of-type(2) p span{
    color: #F7CF00;
}

main section div h2{
    background-color: #242424;
    padding: 0.5em;
    position: absolute;
    top: 7%;
    width: 90%;
    right: 12%;
}

/* Footer style */
footer{
    background-color: #242424;
    padding: 2.1em;
    text-align: center;
    font-family: var(--primary-font);
    margin-top: 0;
  }
  
  footer #footer{
    display: flex;
    justify-content: center;
    gap: 0.5em;
    align-items:center;
    font-size: large;
    color: #F7CF00;
  }

  footer #footer img{
    width: 2em;
  }
  
  footer #lastModified{
    color: #F7CF00;
  }

  